/*Default*/
:root {
  --primary-color: #ffffff;
  --secondary-color: #333333;
  --third-color: #ff36ab;
  --quarter-color: #e5e2e28b;
  --fifth-color: #888686;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Text";
}

h1 {
  line-height: 0;
}

/*Header*/
.main-header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17181D;
  padding: 0 0.4rem;
}

.main-logo img {
  width: 35%;
}
.main-logo img :hover {
  opacity: 0.5;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.main-nav.show {
  margin-left: 0;
}

.nav-links {
  background-color: #17181D;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.link-item {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
}

.link-item::after {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  transition: 0.3s ease all;
}

.link-item:hover::after {
  width: 100%;
}

.button-menu {
  z-index: 200;
  width: 2rem;
  height: 2rem;
  border: none;
  display: flex;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #444444;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}

.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}

.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-header {
    height: 5rem;
  }
  .main-header .main-logo img {
    width: 45%;
  }
  .main-header .main-logo img :hover {
    opacity: 0.5;
  }
  .button-menu {
    display: none;
  }
  .main-nav {
    position: static;
    margin-left: 0;
    flex-basis: 70%;
    height: 100%;
  }
  .nav-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }
  .link-item {
    display: inline-block;
    margin-top: 0;
    margin-right: 2rem;
  }
}
/*Cards*/
#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#productos .producto {
  margin: 1rem 1rem 2rem 1rem;
  width: 20rem;
}
#productos .producto #product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
}
#productos .producto #product .btn-agregar-carrito {
  border: none;
  outline: 0;
  padding: 0.75rem;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: -webkit-fill-available;
  font-size: 1rem;
}
#productos .producto #product img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #productos .producto {
    margin: 1rem 1rem 2rem 1rem;
    width: 15rem;
  }
  #productos .producto #product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
  }
  #productos .producto #product .btn-agregar-carrito {
    border: none;
    outline: 0;
    padding: 0.75rem;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: -webkit-fill-available;
    font-size: 1rem;
  }
  #productos .producto #product img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .carro {
    width: 90%;
    margin: 3rem;
    padding: 1rem;
    background-color: #F9F9F9;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem #efefef;
  }
  .carro h2 {
    text-decoration: underline;
  }
  .carro p {
    margin: 0;
    padding: 1rem;
    font-weight: 700;
  }
  .carro #btn-comprar {
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 700;
    height: 1rem;
    padding: 1.3rem;
    border-radius: 8px;
    cursor: pointer;
  }
  .carro #elementos-carrito {
    list-style-type: none;
  }
  .carro #elementos-carrito li {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #ABABAB;
    box-shadow: 0.5rem 0.5rem #6B6B6B;
    margin: 1rem;
  }
  .carro #elementos-carrito li h3 {
    font-weight: 700;
    text-decoration: underline;
    padding: 1rem;
  }
  .carro #elementos-carrito li button {
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 700;
    height: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .carro #elementos-carrito li img {
    width: 25%;
  }
}
.carro {
  width: 90%;
  margin: 3rem;
  padding: 1rem;
  background-color: #F9F9F9;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem #efefef;
}
.carro h2 {
  text-decoration: underline;
}
.carro p {
  margin: 0;
  padding: 1rem;
  font-weight: 700;
}
.carro #btn-comprar {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  height: 1rem;
  padding: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
}
.carro #elementos-carrito {
  list-style-type: none;
}
.carro #elementos-carrito li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #ABABAB;
  box-shadow: 0.5rem 0.5rem #6B6B6B;
  margin: 1rem;
}
.carro #elementos-carrito li h3 {
  font-weight: 700;
  text-decoration: underline;
  padding: 1rem;
}
.carro #elementos-carrito li button {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  height: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.carro #elementos-carrito li img {
  width: 25%;
}

/*Footer*/
footer {
  position: static;
  bottom: 0;
  width: 100%;
  background-color: #17181D;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .info .social a {
  margin-left: 1rem;
  margin-right: 1rem;
}
footer .info .social .bi {
  font-size: 1.5rem;
  margin: 0.5rem;
  color: var(--fifth-color);
}
footer .info .social :hover {
  color: var(--third-color);
}
footer .title {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
}
footer .menus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .menus ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
footer .menus ul li {
  margin: 0.3rem 0.3rem;
  color: var(--fifth-color);
  cursor: pointer;
}
footer .menus ul li :hover {
  color: var(--third-color);
}

/*@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800&display=swap");

footer {
    width: 100%;
    background-color: #fffce1;
    padding: 3.5rem clamp(3rem, 6vw, 14rem);
}

input,
a,
button,
li {
    all: unset;
    font: inherit;
}

a,
button {
    cursor: pointer;
}

.footer-wrapper {
    max-width: 90rem;
    margin: 0 auto;

    .footer-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;

        .footer-subscribe {
            max-width: clamp(20rem, 33vw, 33rem);

            h2 {
                font-size: clamp(1.5rem, 2.3vw, 2.25rem);
            }
        }
    }
}

.input-box {
    display: flex;
    max-width: 100%;
    padding-block: 1rem;
    border-bottom: 1px solid black;
    margin-top: 3rem;

    input {
        flex-grow: 1;
    }
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(3rem, 4vw, 7rem);

    div {
        h3 {
            font-size: 1rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            margin-top: 2rem;

            li {
                font-size: 1.125rem;
                font-weight: 700;
                transition: opacity 200ms ease;

                a {
                    color: black;
                    text-decoration: none;
                    img{
                        width: 3rem;
                    }
                }
                :hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.footer-copyright {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    margin-top: 5rem;
}

@media (width <=53rem) {
    .footer-subscribe {
        max-width: 100%;
    }
}*/

/*# sourceMappingURL=style.css.map */
